body {
  font-family: 'Segoe UI', sans-serif;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
  height: 100vh;
}

.container {
  background: rgb(133, 41, 133);
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  width: 350px;
}

h1 {
  text-align: center;
  color: #333;
}

.input-group {
  display: flex;
  margin-bottom: 20px;
}

#task-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#add-btn {
  padding: 10px 15px;
  margin-left: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#task-list {
  list-style: none;
  padding: 0;
}

#task-list li {
  background: #f9f9f9;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}
